on: [push]

name: Continuous integration

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: |
          echo build
          rustup target add wasm32-unknown-unknown
          cargo install -f wasm-bindgen-cli
          cargo build --release --target wasm32-unknown-unknown
          wasm-bindgen target/wasm32-unknown-unknown/release/shakuntala-devi-trainer.wasm --out-dir shakuntala-devi-trainer --web
      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: 'shakuntala-devi-trainer'
          target-directory: 'shakuntala-devi-trainer'
          destination-github-username: 'newca12'
          destination-repository-name: 'newca12.github.com'
          user-email: newca12@users.noreply.github.com
          commit-message: Update shakuntala-devi-trainer
          target-branch: master